{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Альфа-Ассистент Админ{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo.png' %}" alt="Логотип Альфа-Ассистент" style="height: 40px; margin-right: 10px; vertical-align: middle;">
        Альфа-Ассистент
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endcomment %}
{% endblock %}

{% block nav-global %}{% endblock %}

